.closing {
    .socials {
        > li {
            margin-block-end: 4rem;

            text-align: center;

            .title {
                font-size: 2rem;
                font-weight: 700;
            }

            .link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
            }
        }
    }
}
