.figure {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    place-items: center;

    block-size: inherit;

    figcaption {
        white-space: pre-line;
    }

    img {
        max-inline-size: 100%;

        &.large {
            max-block-size: 95%;
        }

        &.medium {
            max-block-size: 24rem;
        }

        &.small {
            max-block-size: 18rem;
        }
    }
}
